################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/project/DRP.Application/bin/Debug
/project/DRP.Application/obj/Debug
/project/DRP.Application/DRP.Application.csproj.user
/project/.vs
/project/DRP.Code/bin/Debug
/project/DRP.Code/obj/Debug
/project/DRP.Code/DRP.Code.csproj.user
/project/DRP.Data/bin/Debug
/project/DRP.Data/obj/Debug
/project/DRP.Data/DRP.Data.csproj.user
/project/DRP.Domain/obj/Debug
/project/DRP.Domain/DRP.Domain.csproj.user
/project/DRP.Domain/bin/Debug
/project/DRP.Mapping/obj/Debug
/project/DRP.Mapping/DRP.Mapping.csproj.user
/project/DRP.Mapping/bin/Debug
/project/DRP.Repository/obj/Debug
/project/DRP.Repository/bin/Debug
/project/DRP.Web/obj/Debug
/project/DRP.Web/bin
/project/DRP.Web/Resource/DbBackup/201607190929504502.bak
/project/DRP.Web/Resource/DbBackup/201607181640402083.bak
/project/DRP.Web/DRP.Web.csproj.user
/project/packages
/project/DRP.Application/bin/Release
/project/DRP.Application/obj/Release
/project/DRP.Code/bin/Release
/project/DRP.Code/obj/Release
/project/DRP.Data/obj/Release
/project/DRP.Web/obj/Release
/project/DRP.Web/Properties/PublishProfiles
/project/DRP.Repository/obj/Release
/project/DRP.Repository/bin/Release
/project/DRP.Mapping/obj/Release
/project/DRP.Mapping/bin/Release
/project/DRP.Domain/obj/Release
/project/DRP.Domain/bin/Release
/project/DRP.Data/bin/Release
/project/DRP.Client.Web/bin
/project/DRP.Client.Web/obj/Debug
/project/EmailTool/obj/Debug
/project/DRP.Data/bin
/project/CommonTools/bin/Debug
/project/CommonTools/obj/Debug
/project/DRP.Code/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/project/DRP.Code/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/project/DRP.Web/App_Data/DRPDbContext.mdf
/project/DRP.Web/App_Data/DRPDbContext_log.ldf
/project/EmailTool/bin/Debug/EmailTool.vshost.exe.manifest
/project/EmailTool/bin/Debug/EmailTool.vshost.exe.config
/project/EmailTool/bin/Debug/EmailTool.vshost.exe
/project/Drp.UnitTest/obj/Debug
