################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/project/DRP.Application/bin/Debug
/project/DRP.Application/obj/Debug
/project/DRP.Application/Properties
/project/DRP.Application/DRP.Application.csproj.user
/project/.vs
/project/DRP.Code/bin/Debug
/project/DRP.Code/obj/Debug
/project/DRP.Code/Properties
/project/DRP.Code/DRP.Code.csproj.user
/project/DRP.Data/bin/Debug
/project/DRP.Data/obj/Debug
/project/DRP.Data/Properties
/project/DRP.Data/DRP.Data.csproj.user
/project/DRP.Domain/Properties
/project/DRP.Domain/obj/Debug
/project/DRP.Domain/DRP.Domain.csproj.user
/project/DRP.Domain/bin/Debug
/project/DRP.Mapping/Properties
/project/DRP.Mapping/obj/Debug
/project/DRP.Mapping/DRP.Mapping.csproj.user
/project/DRP.Mapping/bin/Debug
/project/DRP.Repository/Properties
/project/DRP.Repository/obj/Debug
/project/DRP.Repository/bin/Debug
/project/DRP.Web/Properties
/project/DRP.Web/obj/Debug
/project/DRP.Web/bin
/project/DRP.Web/Resource/DbBackup/201607190929504502.bak
/project/DRP.Web/Resource/DbBackup/201607181640402083.bak
/project/DRP.Web/DRP.Web.csproj.user
/project/packages
