@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/UserCenter/Recharge/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                { label: '银行账户名', name: 'F_BankAccountName', width: 150, align: 'left' },
                { label: '银行卡号', name: 'F_BankCardNo', width: 100, align: 'left' },
                { label: '充值金额', name: 'F_RechargeAccount', width: 140, align: 'left' },
                { label: '到账时间', name: 'F_CheckTime', width: 140, align: 'left' }
            ],
            pager: "#gridPager",
            sortname: 'F_CheckTime desc',
            viewrecords: true
        });
    }
</script>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
