@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link href="~/Content/js/select2/select2.min.css" rel="stylesheet" />
<script src="~/Content/js/select2/select2.min.js"></script>
<script src="~/Content/js/datepicker/WdatePicker.js"></script>
<script>
    //时间格式化
    Date.prototype.format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1,                 //月份 
            "d+": this.getDate(),                    //日 
            "h+": this.getHours(),                   //小时 
            "m+": this.getMinutes(),                 //分 
            "s+": this.getSeconds(),                 //秒 
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
            "S": this.getMilliseconds()             //毫秒 
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    }
    var type = 'agent', agentId = '';
    $(function () {
        Init();

        $('#profitType').change(function() {
            if ($(this).val() == "agent") {
                $('#span_agent').show();
            } else {
                $('#span_agent').hide();
            }
            BindGrid();
        });

        $('#btn_search').click(function() {
            IsSystem();
            BindGrid();
        });

    });

    function BindGrid() {
        var $gridList = $("#gridList");
        $gridList.jqGrid('setGridParam', {
            postData: { type: type, agentId: $('#F_AgentId').val(), month: $('#selectMonth').val() }
        }).trigger('reloadGrid');

        BindTotalProfit();
    }

    function BindTotalProfit() {
        $.ajax({
            url: "/DrpServManage/Profit/GetTotalProfitJson",    //后台webservice里的方法名称
            type: "get",
            data: { type: type, agentId: $('#F_AgentId').val(), month: $('#selectMonth').val() },
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                $('#totalProfit').text("收益总计：" + (data[0].TotalProfit == null ? "0" : data[0].TotalProfit) + " 元");
            }
        });
    }

    function Init() {
        $('#selectMonth').val(new Date().format("yyyy-MM"));
        IsSystem();  
        BindAgent();//绑定代理商
    }

    function IsSystem() {
        $.ajax({
            url: "/DrpServManage/Profit/CurrentIsSystem",    //后台webservice里的方法名称
            type: "get",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                if (data.flag == true) {
                    $('#span_type').show();
                    type = $('#profitType').val();
                    agentId = $('#F_AgentId').val();
                } else {
                    type = 'agent';
                }
                gridList();
                BindTotalProfit();
            }
        });
    }

    function BindAgent() {
        $.ajax({
            url: "/SystemManage/User/GetBelongPersonListJson",    //后台webservice里的方法名称
            type: "get",
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                var optionstring = "";
                for (var i in data) {
                    var jsonObj = data[i];
                    optionstring += "<option value=\"" + jsonObj.F_Id + "\" >" + jsonObj.F_RealName + "</option>";
                }
                $("#F_AgentId").html(optionstring);
            },
            error: function (msg) {
                alert("出错了！");
            }
        });
    }

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/DrpServManage/Profit/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                { label: '客户名称', width: 250, name: 'F_CustomerName', align: 'left' },
                { label: '扣费产品', width: 150, name: 'F_ProductName', align: 'left' },
                {
                    label: '提成金额(元)', name: 'F_ProfitAmount', width: 100, align: 'left',
                    formatter: function (cellvalue) {
                        return cellvalue.toFixed(2);
                    }
                },
                {
                    label: '入账时间', name: 'F_CreatorTime', width: 120, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d H:d:s', newformat: 'Y-m-d H:d:s' }
                }
            ],
            pager: "#gridPager",
            sortname: 'F_CreatorTime desc',
            postData: { type: type, agentId:agentId , month: $('#selectMonth').val()},
            viewrecords: true
        });
        
    }


</script>
<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group" id="totalProfit" style="color: red; margin-right: 10px; font-weight: bold;">
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="DRP-reset" authorize="yes" onclick="btn_reset()"><i class="fa fa-pencil-square-o"></i>撤销</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <span id="span_type" style="display: none;">
                            &nbsp;&nbsp;&nbsp;&nbsp;收益类别：
                            <select id="profitType" name="profitType" class="select" style="height: 29px;">
                                <option value="system">系统</option>
                                <option value="agent">代理商</option>
                            </select>
                        </span>
                        <span id="span_agent" style="display: none;">
                            &nbsp;&nbsp;&nbsp;&nbsp;代理商：
                            <select id="F_AgentId" name="F_AgentId" class="select" style="height: 29px;"></select>
                        </span>
                        &nbsp;&nbsp;&nbsp;&nbsp;月份：
                        <input id="selectMonth" name="selectMonth" value="" type="text" style="height: 23px; width: 100px; margin-right: 5px; padding-left: 4px;" class="input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM' })" />
                        <span class="input-group-btn" style="margin-left: 10px;">
                            <button id="btn_search" type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
