<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="DRPDbContext" connectionString="Server=202.106.149.132;Initial Catalog=drpdb;User ID=sinldo;Password=sinldo" providerName="System.Data.SqlClient" />-->
  <!--<add name="DRPDbContext" connectionString="Data Source=localhost;port=3306;Initial Catalog=drpdb;user id=root;password=484950;" providerName="MySql.Data.MySqlClient"/>-->
  <add name="DRPDbContext" connectionString="5C50C34EA796C07D4E6A4E9A58E195F1AD3D053B98C568FBD1B604DA6DB5FE7E87326ABAC329252432390FF83C88A95A435786483B586D7B9F26BB8121334CE8C99683B9DE3D71EA6831015B3FC1050FA350ECAE7D2F78E040607A40DF73BB8F84A1C19BA18B35CE" providerName="MySql.Data.MySqlClient"/>
  
</connectionStrings>