<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="DRPDbContext" connectionString="Server=202.106.149.132;Initial Catalog=drpdb;User ID=sinldo;Password=sinldo" providerName="System.Data.SqlClient" />-->
  <!--<add name="DRPDbContext" connectionString="Data Source=localhost;port=3306;Initial Catalog=drpdb;user id=root;password=484950;" providerName="MySql.Data.MySqlClient"/>-->
  <add name="DRPDbContext" connectionString="5C50C34EA796C07DB748955A620E2CB9DF51CF939553828E565865D664D4D8F8525ECEF7326CD986C08FE8174CBBBB743CDF643F8BDC280F85665FCB70B5C24C5EC26E2637ACB5E6DFA14FF3491BAF4D7C6BE2F481FFEE17437679DA662801CD" providerName="MySql.Data.MySqlClient"/>
  
</connectionStrings>