<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="DRPDbContext" connectionString="Server=202.106.149.132;Initial Catalog=drpdb;User ID=sinldo;Password=sinldo" providerName="System.Data.SqlClient" />-->
  <add name="DRPDbContext" connectionString="Data Source=localhost;port=3306;Initial Catalog=drpdb;user id=root;password=484950;" providerName="MySql.Data.MySqlClient"/>
  <!--<add name="DRPDbContext" connectionString="Data Source=111.203.235.204;port=3306;Initial Catalog=drpdb;user id=drp;password=484950;" providerName="MySql.Data.MySqlClient"/>-->
  
</connectionStrings>