@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    });
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/DrpServManage/Recharge/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                { label: '银行账户名', width: 250, name: 'F_BankAccountName', align: 'left' },
                {
                    label: '充值金额(元)', name: 'F_RechargeAccount', width: 100, align: 'left',
                    formatter: function (cellvalue) {
                        return cellvalue.toFixed(2);
                    }
                },
                { label: '备注', name: 'F_Description', width: 200, align: 'left' },
                {
                    label: '到账时间', name: 'F_PaymentTime', width: 120, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d H:d:s', newformat: 'Y-m-d H:d:s' }
                },
                {
                    label: '录账时间', name: 'F_CreatorTime', width: 120, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d H:d:s', newformat: 'Y-m-d H:d:s' }
                }
                ,{
                     label: "状态", name: "F_Status", width: 80, align: "center",
                     formatter: function (cellvalue, options, rowObject) {
                         if (cellvalue == 0) {
                             return '<span class=\"label label-info\">已提交</span>';
                         } else if (cellvalue == 1) {
                             return '<span class=\"label label-success\">成功</span>';
                         } else if (cellvalue == 2) {
                             return '<span class=\"label label-danger\">未匹配</span>';
                         } else if (cellvalue == 3) {
                             return '<span class=\"label label-default\">已撤销</span>';
                         } else return '';
                     }
                 }

            ],
            pager: "#gridPager",
            sortname: 'F_CreatorTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "手工录账",
            url: "/DrpServManage/Recharge/Form",
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btn_reset() {
        $.deleteForm({
            url: "/DrpServManage/Recharge/ResetForm",
            prompt: "注：你确认要撤销该笔录账信息吗？",
            loading: "正在撤销...",
            param: { keyValue: $("#gridList").jqGridRowValue().F_Id },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }

</script>
<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="DRP-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>手工录账</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="DRP-reset" authorize="yes" onclick="btn_reset()"><i class="fa fa-pencil-square-o"></i>撤销</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="银行账户名" style="width:200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
