<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
    <title>用户中心</title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/js/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.json.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/dialog/dialog.js"></script>
    <script src="~/Content/js/cookie/jquery.cookie.js"></script>
    <script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
    <link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
    <script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>
    <script type="text/javascript" src="~/Content/js/framework-ui.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/framework-theme-client.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/app.css">

    @*<script type="text/javascript" src="./用户中心_files/dishui.js"></script>
        <script type="text/javascript" src="./用户中心_files/jquery.ui.core.min.js"></script>
        <script type="text/javascript" src="./用户中心_files/jquery.ui.widget.min.js"></script>
        <script type="text/javascript" src="./用户中心_files/jquery.ui.mouse.min.js"></script>
        <script type="text/javascript" src="./用户中心_files/jquery.ui.slider.min.js"></script>
        <script type="text/javascript" src="./用户中心_files/jquery.ui.effect.min.js"></script>
        <script type="text/javascript" src="./用户中心_files/jquery.ui.effect-slide.min.js"></script>
        <script type="text/javascript" src="./用户中心_files/jquery.ui.button.min.js"></script>
        <script type="text/javascript" src="./用户中心_files/jquery.ui.spinner.min.js"></script>
        <script type="text/javascript" src="./用户中心_files/jquery.ui.datepicker-zh-CN.min.js"></script>
        <script type="text/javascript" src="./用户中心_files/jquery.ui.datepicker.min.js"></script>
        <script type="text/javascript" src="./用户中心_files/jquery-ui-timepicker-addon.min.js"></script>
        <script type="text/javascript" src="./用户中心_files/jquery-ui-timepicker-zh-CN.js"></script>
        <script type="text/javascript" src="./用户中心_files/jquery.validate.min.js"></script>
        <script type="text/javascript" src="./用户中心_files/additional-methods.js"></script>
        <script type="text/javascript" src="./用户中心_files/messages_zh.js"></script>
        <script type="text/javascript" src="./用户中心_files/jquery.alertmessage.js"></script>
        <script type="text/javascript" src="./用户中心_files/template.js"></script>
        <link rel="stylesheet" type="text/css" href="./用户中心_files/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="./用户中心_files/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="./用户中心_files/jquery-ui-timepicker-addon.min.css">*@
    <!--[if lt IE 9]><script src="./javascripts/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    @*<script type="text/javascript" src="./用户中心_files/app.js"></script>
        <script type="text/javascript" src="./用户中心_files/handler.js"></script>
        <script type="text/javascript" src="./用户中心_files/account.js"></script>
        <script type="text/javascript" src="./用户中心_files/uuid.js"></script>
        <script type="text/javascript" src="./用户中心_files/plupload.full.min.js"></script>
        <script type="text/javascript" src="./用户中心_files/zh_CN.js"></script>
        <script type="text/javascript" src="./用户中心_files/ui.js"></script>
        <script type="text/javascript" src="./用户中心_files/qiniu.js"></script>
        <script type="text/javascript" src="./用户中心_files/highlight.js"></script>
        <link rel="stylesheet" type="text/css" href="./用户中心_files/highlight.css">
        <link rel="stylesheet" type="text/css" href="./用户中心_files/app.css">*@
    <script type="text/javascript">
        $(function () {
            var param = [];
            try {
                var _url = window.location.href;
                //                var domain = _url.match(/http[s]?:\/\/(.*?)([:\/]|$)/);
                domain = location.hostname || location.host;
                //                console.info(domain);
                param = parseHref(_url) || [];
            } catch (e) {
            }
            document.body.className = 'theme-drp-client-blue';
            //startInit('DRP_iframe', 360);
            // $.loading(true, '正在获取数据...');
            // 产品：成本价 销售价 默认代理提成率
            // 客户产品关系 中添加 提成比率系数
            // 扣费：每月月初扣费，如果使用不到一个月，当前月使用天数/本月天数 ， 超过一个月按一个月计算  使用系数 = 当前月使用天数/当前月天数
            // 代理商提成费用计算 = （销售价-成本价） * 使用系数 * 代理提成率 * 提成比率系数
            // 系统收益计算 = （销售价-成本价） * 使用系数 - 代理商提成费用

        });
        function tiedcard() {
            $.modalOpen({
                id: "Form",
                title: "绑卡",
                url: "/UserCenter/CardInfo/Form",
                width: "500px",
                height: "400px",
                callBack: function (iframeId) {
                    top.frames[iframeId].submitForm();
                }
            });
        }
        function changepwd() {
            $.modalOpen({
                id: "ChangePwd",
                title: "修改密码",
                url: "/UserCenter/AccountInfo/ChangePwd",
                width: "500px",
                height: "400px",
                callBack: function (iframeId) {
                    top.frames[iframeId].submitForm();
                }
            });
        }
        function cardinfo(obj) {
            changeclass(obj);
            $("#DRP_iframe").attr("src","/UserCenter/CardInfo/Index");
        }
        function rechargeinfo(obj) {
            changeclass(obj);
            $("#DRP_iframe").attr("src", "/UserCenter/Recharge/Index");
        }
        function signout() {
            window.location.href = "/Login/Index";
        }
        function goindex(obj) {
            changeclass(obj)
            window.location.reload();//刷新当前页面.
        }
        function changeclass(obj) {
            $(obj).addClass("active");
            $(obj).siblings().each(function () {
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                }
            })
        }
    </script>
</head>
<body>
    <div style="height:100%;">
        <div class="loading_indicator" style="visibility: hidden;">
        </div>
        <span class="loading_indicator_span" style="visibility: hidden;">正在获取数据...</span>
        <div class="login_panel" id="login-panel" style="display: none;">
        </div>
        <div id="main-panel" class="container" style="display: block;height:100%;">
            <div class="user-header clearfix">
                <div class="pull-left navbar_path" id="pane_tmpl_main_head">
                    <a href="#" target="_blank"><img src="./用户中心_files/soxcc.jpg" alt="" style="width: 130px;"></a>
                </div>
                <div class="pull-left user-title">
                    <p class="">
                        欢迎您：<strong class="uc_company">@ClientOperatorProvider.Provider.GetCurrent().UserName</strong>
                        <!--<span class="uc_accountname"></span>-->
                        <!--<span class="uc_email"></span>-->
                        &nbsp;&nbsp;
                        余额:<span class="uc_balance" style="color: #f0ad4e;">0.00</span>元
                        &nbsp;
                        透支额度:<span class="uc_overdraw" style="color: #f0ad4e;">0.00</span>元
                        &nbsp;
                        <button type="button" class="btn btn-success btn-xs ds_do_action btn_bank_pay" ds_action="account.showOnlinePay" onclick="tiedcard()">绑定新卡</button>
                    </p>
                </div>
                <ul class="nav navbar-nav navbar-right" style="margin-top: 9px;">
                    <li class="">
                        <a href="#" class="ds_do_action" ds_action="loadMainView" ds_data="index/idx_main" onclick="goindex(this)">主页</a>
                    </li>
                    <li class="dropdown menu_dropList">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">个人设置 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="ds_do_action" ds_action="account.showPwd" onclick="changepwd()">修改密码</a></li>
                            <li></li>
                            <li class="divider"></li>
                            <li></li>
                            <li><a href="#" class="ds_do_action text-danger" ds_action="account.logout" onclick="signout()">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="row" id="ucenter_main" style="height:100%;">
                <div class="col-md-2" id="left_pane">
                    <div class="panel panel-default">
                        <div class="panel-heading">主页</div>
                        <div class="list-group">
                            <a href="#"  class="list-group-item ds_do_action active" ds_action="showPage" ds_data="index/accinfo" action="account.initAccountInfo" onclick="goindex(this)">账户信息</a>
                            <a href="#" class="list-group-item ds_do_action payRecord" ds_action="showPage" ds_data="index/pay_list" onclick="rechargeinfo(this)" action="fee.getPayList">充值记录</a>
                            <a href="#" class="list-group-item ds_do_action costRecord" ds_action="showPage" ds_data="index/cost_list" action="fee.getCostList">消费记录</a>
                            <a href="#" class="list-group-item ds_do_action feeRecord" ds_action="showPage" ds_data="index/fee/account_fee" action="accFee.showMain">账单查询</a>
                            <a href="#" class="list-group-item ds_do_action invoiceRecord" ds_action="showPage" ds_data="index/invoice/invoice_main" action="invoice.showMain">发票管理</a>
                            <a href="#" class="list-group-item ds_do_action" ds_action="showPage" ds_data="index/cardinfo" onclick="cardinfo(this)">绑卡信息</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10" style="height:100%;">
                    <iframe class="DRP_iframe" id="DRP_iframe" style="width:100%;height:100%;" src="/UserCenter/AccountInfo/Index" frameborder="0" data-id="/Home/Default"></iframe>
                </div>
            </div>
            <footer class="bs-footer" style="" id="pane_tmpl_main_foot">
                <div class="text-center"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; © 2016 sinldo</div>
            </footer>
        </div>
    </div>
    <div id="loadingPage" style="display: none;">
        <div class="loading-shade"></div>
        <div class="loading-content" onclick="$.loading(false)">数据加载中，请稍后…</div>
    </div>
    <iframe style="border:0;width:0;height:0;position:absolute;visibility:hidden;bottom:0;right:0;" name="ds_iframe" id="ds_iframe" src=""></iframe>
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
        }

        .list-group-item {
            border: 0;
        }
        /*.list-group-item:first-child{border-top-right-radius:0;border-top-left-radius:0}*/
        /*.list-group-item:last-child{border-bottom-right-radius:0;border-bottom-left-radius:0}*/
        /*a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus{*/
        /*background-color:#c9e2b3;*/
        /*background-color:#46b8da;*/
        /*}*/
        .menu_dropList {
            background-color: #ffffff;
        }

            .menu_dropList > a:hover,
            .menu_dropList > a:focus {
                color: #262626;
                text-decoration: none;
                background-color: #ffffff;
            }
    </style>
    <div id="browser" class="layerDiv" style="display:none;">
        <h2>您使用的浏览器版本过低</h2>
        <h3>很抱歉，您正在使用的浏览器无法完全支持我们的页面，请使用ie8及以上版本或其他浏览器进行访问。</h3>
        <div>
            <span></span>建议您使用以下浏览器的最新版本：
        </div>
        <ul>
            <li><a target="_blank" href="http://www.google.cn/chrome/intl/zh-CN/landing_chrome.html" class="ico icoChrome" title="谷歌Chrome浏览器"></a></li>
            <li><a target="_blank" href="http://www.opera.com/" class="ico icoOpera" title="Opera浏览器"></a></li>
            <li><a target="_blank" href="http://www.firefox.com.cn/download/" class="ico icoFirefox" title="火狐浏览器"></a></li>
            <li>
                <a target="_blank" href="http://support.apple.com/downloads/#safari" class="ico icoSafar" title="Safar浏览器"></a>
            </li>
        </ul>
        <p>
            <a href="javascript:hideBrowser();" class="icoGt">知道了，但请还是打开页面</a>
        </p>
    </div>


</body>
</html>