@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<script src="~/Content/js/ueditor/ueditor.config.js"></script>
<script src="~/Content/js/ueditor/ueditor.all.min.js"></script>
<script src="~/Content/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {

            $.myAjaxGet("/DrpServManage/CustomerTrack/GetFormJson", { keyValue: keyValue }, false, function (data) {
                $("#form1").formSerialize(data);
                //判断ueditor 编辑器是否创建成功
                UE.getEditor('editor').addListener("ready", function () {
                    // editor准备好之后才可以使用
                    UE.getEditor('editor').setContent(data.F_Content, false);

                });
                var customerData = [{ id: data.F_CustomerId, text: data.F_CustomerName }];
                $('#F_CustomerId').empty();
                $('#F_CustomerId').select2({ data: customerData });
                $("#F_CustomerName").val($("#F_CustomerId option:selected").text());

                initCustomerSearch();
            });
        }
    });

    function initCustomerSearch() {

        var url = "/DrpServManage/Customer/GetCustoemrJson";
        var sid = $.request("sid");
        if (sid != "" && sid != null && typeof (sid) != undefined)
            url = url + "?sid=" + sid;


        $("#F_CustomerId").select2({
            ajax: {
                url: url,
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        name: params.term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) { return markup; },
            minimumInputLength: 2,
            language: "zh-CN"
        });
    }

    function initControl() {

        //实例化编辑器
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        var ue = UE.getEditor('editor');

        initCustomerSearch();

        $("#F_Status").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "CustomerTackStatus" }
        });

        $("#F_CustomerId").change(function () {
            $("#F_CustomerName").val($("#F_CustomerId option:selected").text());
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $('#F_Content').val(UE.getEditor('editor').getContent());
       
        $.submitForm({
            url: "/UserCenter/CustomerTrack/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle"><span class="required-span">*</span>客户名称</th>
                    <td class="formValue">
                        <input id="F_CustomerName" name="F_CustomerName" style="display: none;" />
                        <select id="F_CustomerId" name="F_CustomerId " class="form-control required">
                            <option value="" selected="selected">==请选择==</option>
                        </select>
                        @*<input id="F_CustomerName" name="F_CustomerName" type="text" class="form-control required" placeholder="请输入客户名称" />*@
                    </td>
                    <th class="formTitle"><span class="required-span">*</span>客户维护状态</th>
                    <td class="formValue">
                        <select id="F_Status" name="F_Status" class="form-control required">
                            <option value="">==请选择==</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle"><span class="required-span">*</span>标题</th>
                    <td class="formValue" colspan="3">
                        <input id="F_Title" name="F_Title" type="text" class="form-control required" placeholder="请输入标题" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        详细内容
                    </th>
                    <td class="formValue" colspan="3">
                        <input id="F_Content" name="F_Content" style="display: none;" />
                        <script id="editor" type="text/plain" style="width: 100%; height: 250px;">
                        </script>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
