@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@*<script src="~/Content/js/angular-1.0.1.min.js"></script>*@
<script src="~/Content/js/angular.min.js"></script>
<script type="text/javascript">
    var app = angular.module('app', []);
    app.controller('formAlreadyBuyController', function ($scope) {
        $scope.payarray = [];
        $scope.nopayarray = [];
        $scope.stoppayarray = [];
        $.ajax({
            url: "/UserCenter/CustomerProduct/GetGridJson",
            type: "get",
            dataType: "json",
            async: false,
            success: function(data) {
                $.each(data, function(i) {
                    var info = { F_Id: data[i].F_Id, F_ProductName: data[i].F_ProductName };
                    if (data[i].F_Status == '1') {
                        $scope.payarray.push(info);
                    } else if (data[i].F_Status == '0') {
                        $scope.nopayarray.push(info);
                    } else {
                        $scope.stoppayarray.push(info);
                    }
                });
            }
        });
    });
    function btn_stoppay(id) {
        var keyValue = $(id).attr("ds_data");
        $.modalConfirm("注：您确定要【停用】该产品吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/UserCenter/CustomerProduct/StopPayProduct",
                    param: { keyValue: keyValue },
                    success: function() {
                        window.location.reload(); //刷新当前页面.
                    }
                });
            }
        });
    }
    function btn_pay(id) {
        var keyValue = $(id).attr("ds_data");
        $.modalConfirm("注：您确定要【购买】该产品吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/UserCenter/CustomerProduct/StartPayProduct",
                    param: { keyValue: keyValue },
                    success: function () {
                        window.location.reload(); //刷新当前页面.
                    }
                });
            }
        });
    }
    function btn_start(id) {
        var keyValue = $(id).attr("ds_data");
        $.modalConfirm("注：您确定要【启用】该产品吗？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/UserCenter/CustomerProduct/StartPayProduct",
                    param: { keyValue: keyValue },
                    success: function() {
                        window.location.reload(); //刷新当前页面.
                    }
                });
            }
        });
    }
</script>
<div id="right_pane" class="container-fluid" ng-app="app" ng-cloak ng-controller="formAlreadyBuyController">
    <div class="row">
        <div class="col-md-8" style="border-right: 1px solid #ccc; float: left; width: 65%;">
            <div>
                <h4>已购买产品<small></small></h4>
                <p class="buy_product" ng-repeat="a in payarray">
                    <button type="button" class="btn btn-lg btn-success ds_do_action" ds_action="loadMainView" ds_product="zj" onclick="btn_stoppay(this)" ds_data="{{a.F_Id}}">{{a.F_ProductName}}</button>
                    &nbsp;&nbsp;&nbsp;
                </p>
            </div>
            <div style="margin-top: 30px;" >
                <h4>未支付产品</h4>
                <p class="nobuy_product" ng-repeat="a in nopayarray">
                <button type="button" class="btn btn-lg ds_do_action" ds_action="loadMainView" ds_product="custFee" onclick="btn_pay(this)" ds_data="{{a.F_Id}}">{{a.F_ProductName}}</button>
                &nbsp;&nbsp;&nbsp;</p>
            </div>
            <div style="margin-top: 30px;" >
                <h4>已停用产品</h4>
                <p class="nobuy_product" ng-repeat="a in stoppayarray">
                <button type="button" class="btn btn-lg ds_do_action" ds_action="loadMainView" ds_product="custFee" onclick="btn_start(this)" ds_data="{{a.F_Id}}">{{a.F_ProductName}}</button>
                &nbsp;&nbsp;&nbsp;</p>
            </div>
        </div>
        <div class="col-md-4" style="float: left; ">
            <div>
                <h4 id="acc_companyName" style="display: inline-block;">@DRP.Code.ClientOperatorProvider.Provider.GetCurrent().UserName<small>&nbsp;<span class="label label-success">已认证</span></small></h4>
                @*&nbsp;&nbsp;<button type="button" class="btn btn-xs btn-primary ds_do_action submit_identity" ds_action="account.showIdentify" ds_data="" style="">认证</button>
                    &nbsp;&nbsp;<button type="button" class="btn btn-xs btn-primary ds_do_action view_identity" ds_action="account.showIdentifyInfo" ds_data="" style="display: none;">查看认证</button>
                    &nbsp;&nbsp;<button type="button" class="btn btn-xs btn-primary ds_do_action bill_hide audit_identity" ds_action="account.showAuditIdentify" ds_data="" style="display: inline-block;">审核认证</button>*@
            </div>
            <div>
                <label>账户登录名:</label><span style="margin-left: 10px;" id="acc_name">@DRP.Code.ClientOperatorProvider.Provider.GetCurrent().UserCode</span>
            </div>
            <div>
                <label>联系人邮箱:</label><span style="margin-left: 10px;" id="acc_mail">@DRP.Code.ClientOperatorProvider.Provider.GetCurrent().Email</span><!--<a class="btn btn-link" style="color: #aaaaaa;">修改</a>-->
            </div>
            <div>
                <label>联系人电话:</label><span style="margin-left: 10px;" id="acc_tel">@DRP.Code.ClientOperatorProvider.Provider.GetCurrent().MobilePhone</span>
                <!--<a class="btn btn-link ds_do_action" ds_action="" ds_data="" style="color: #aaaaaa;">修改</a>-->
            </div>
        </div>
    </div>
</div>